---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<h1>Lecture on Visual Perception using Deep Learning</h1> 

<p> Department of Computer Science and Engineering in association with EEC-Alumni Students Chapter and CSI Chennai organized a Guest Lecture on Visual Perception with Deep Learning for the IV year (CSE students on 21.11.2022 through physical mode between 9:30 am and 1 1 .00 am. The presentation was about visual perceptual learning, acquisition of a real world representation, deep neural networks (DNNs) for visual perception. During this session, students learnt the practical approaches on the implementation of visual perceptions with Deep Learning.</p>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
